@import url(variables.css);


body {
    background-color: var(--orange-97);
    margin: 0 50px;
}

/* Sections Styles */

.section {
    margin: 150px 30px;
}

.title-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.button {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    color: var(--grey-20);
    border: 2px solid var(--absolute-black);
    border-radius: 6px;
    padding: 8px 14px;
    display: inline-block;
    margin: 0 auto;
    background: var(--orange-99);
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px; 
    text-align: center;
    color: var(--grey-10);
    margin: 19px auto;
}

.subtitle {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    color: var(--grey-20);
    text-align: center;
	padding: 0 200px;
}

/* @media screen and (max-width:481px) {
	
} */


@media screen and (max-width:576px) {
	.wrapper {
		max-width: 1350px;
		margin-inline: auto;
	}

	.subtitle {
		padding: 0 20px;
	}
}

@media screen and (max-width:992px) {
	body {
		margin: 40px 16px 20px 16px;
	}

	.section {
		margin: 80px 0;
	}

	.title {
		font-size: 38px;
		line-height: 49px; 
		margin: 10px auto;
	}

	.title-block {
		margin-bottom: 50px;
	}

	.subtitle {
		padding: 0 40px;
	}
}

/* @media screen and (max-width:1024px) { 
	
 } */

 @media screen and (max-width:1280px) { 
	.subtitle {
		padding: 0 80px;
	}
 }
