@import url(base.css);
@import url(common.css);
@import url(variables.css);

.banner-contacts-item:hover {
    background: var(--orange-95);
}

.form-wrapper {
    padding: 100px 80px 80px 80px;
    position: relative;
}

.form-link-element {
    position: absolute;
    display: inline-block;
    border: var(--common-border);
    border-radius: 6px;
    padding: 16px 50px;
    width: 126px;
    height: 58px;
    background: var(--orange-90);
    top: -28px;
}

.form-facebook {
    left: calc(40% - 126px);
}

.form-twitter {
    left: calc(50% - 63px);
}

.form-linkedin {
    right: calc(40% - 126px);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


input, select {
    border: var(--common-border);
    border-radius: 6px;
    padding: 24px;
    background: var(--orange-99);
    width: 100%;
}

label {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; 
    color: var(--grey-30);
    margin-bottom: 14px;
}

.message {
    grid-column: span 2;
}

textarea {
    border: var(--common-border);
    border-radius: 6px;
    padding: 24px;
    background: var(--orange-99);
    resize: vertical;
    grid-column: span 2;
    width: 100%;
}

button {
    border: var(--common-border);  
    border-radius: 10px;
    padding: 24px 34px;
    background: var(--orange-75);
    grid-column: span 2;
    transition: all 250ms ease-in-out;
}

button:hover, button:focus {
    font-size: larger;
    color: var(--absolute-white);
    background: var(--orange-70);
    outline: none;
    border: solid 2px var(--absolute-white);
}

select:invalid { 
    color: var(--grey-40); 
}


input:hover, select:hover, textarea:hover {
    outline: none;
    border: solid 2px var(--grey-70);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: solid 2px var(--orange-70);
}

/* Media Queries */

@media screen and (max-width: 960px) {
    .form-wrapper {
        padding: 80px 30px 30px 30px;
    }
}

@media screen and (max-width: 840px) {
    .form-link-element {
        padding: 16px 24px;
        width: 74px;
        
    }
    
    .form-facebook {
        left: calc(43% - 74px);
    }
    
    .form-twitter {
        left: calc(50% - 37px);
    }
    
    .form-linkedin {
        right: calc(43% - 74px);
    }
}

@media screen and (max-width: 640px) {
    form {
        display: block;
    }

    .form-item, .message {
        margin-bottom: 30px;
    }

    .form-facebook {
        left: calc(41% - 74px);
    }

    .form-linkedin {
        right: calc(41% - 74px);
    }
}

@media screen and (max-width: 480px) {

    .form-facebook {
        left: calc(39% - 74px);
    }

    .form-linkedin {
        right: calc(39% - 74px);
    }
}