@import url(base.css);
@import url(variables.css);

/* Header Styles */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.admission {
    border: var(--common-border);
    border-radius: 8px;
    background-color: var(--orange-90);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 14px 0;
}

.admission-content {
    display: flex;
    align-items: center;
    margin: 14px 0px;
}

.admission-content a {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 30px; 
    line-height: 150%;
    color: var(--grey-15);

    padding-right: 14px;
}

.admission-image-bottom {
    padding-top: 29px;
}

.navigation {
    display: flex;
    border: var(--common-border);
    border-radius: 12px;
    background: var(--orange-99);
    justify-content: space-between;
    position: relative;
}

.logo {
    background-color: var(--orange-65);
    border-left: var(--common-border);
    border-right: var(--common-border);
    padding: 16px 20px;
    display: flex;
    /*align-items: center; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.logo-image {
    margin: auto 0;
    height: 34px;
    width: 34px;
}

.logo-text {
    height: 15px;
    width: 115.5px;
    margin: auto 7px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li:last-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.menu-item {
    border-left: var(--common-border);
    padding: 20px 24px;
    line-height: 24px; 
    cursor: pointer;
}

.menu-item:hover {
    background: var(--orange-90);
}

.menu-item a {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--grey-15);
}

.contact {
    background-color: var(--orange-75);
}
.admission > a, .menu a {
    text-decoration: none;
}

.burger-menu {
    display: none;
}

@media screen and (max-width:639px) {
    .admission-content a {
        font-size: 17px;
        padding-right: 0;
    }
}

@media screen and (max-width:767px) {
    .burger-menu {
        display: block;
        position: absolute;
        width: max-content;
        right: 20px;
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        z-index: 2;
        cursor: pointer;
    }

    .burger-menu::before, 
    .burger-menu::after, 
    .burger-menu input {
        content: "";
        width: 40px;
        height: 4px;
        background-color: var(--grey-15);
        border-radius: 9999px;
        transition: all 200ms ease-in-out;
    }


    .burger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    .burger-menu:has(input:checked)::after {
        width: 20px;
        align-self: flex-end;
    }
    
    .menu {
        display: none;
        flex-direction: column;
        margin-top: 68px;
        position: absolute;
        right: 20px;
        z-index: 2;
        background: var(--orange-90);
        width: 320px;
        text-align: center;
    }

    .menu-item:hover {
        background: var(--orange-99);
    }

    .contact {
        background: var(--orange-90);
    }

    .menu-item {
        border-bottom: var(---common-border);
        border-left: none;
    }

    .menu li:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }

    .burger-menu:has(input:checked) + .menu {
        display: flex;
    }

}

@media screen and (max-width:1060px) {
    .logo-text {
        display: none;
    }

    .menu-item {
        padding-inline: 10px;
    }

    .admition-image-edge {
        display: none;
    }
    
}