:root {
	--absolute-white: #fff;
	--absolute-black: #000;
	--orange-65: #ff8d4d;
	--orange-70: #ff9e66;
	--orange-75: #ffae80;
	--orange-80: #ffbe99;
	--orange-90: #ffdecc;
	--orange-95: #ffefe5;
	--orange-97: #fff5f0;
	--orange-99: #fffcfa;
	--grey-10: #1a1a1a;
	--grey-15: #262626;
	--grey-20: #333;
	--grey-30: #4c4c4d;
	--grey-35: #59595a;
	--grey-40: #656567;
	--grey-60: #98989a;
	--grey-70: #b3b3b3;
}

:root {
    --font-family: "Outfit", sans-serif;
    --second-family: "Raleway", sans-serif;
    --third-family: "Inter", sans-serif;
  }

:root {
    --common-border: 2px solid var(--grey-15); 
}